@font-face {
  font-family: "l1_par-5_std_ws_z01";
  src: url(/fonts/l1_par-reg-5_std_ws_z01-a716f8ca.woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "l1_par-5_std_ws_z01";
  src: url(/fonts/l1_par-bolit-5_std_ws_z01-97b6f51d.woff2);
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "l1_par-5_std_ws_z01";
  src: url(/fonts/l1_par-ita-5_std_ws_z01-cc3d2c5f.woff2);
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "l1_par-5_std_ws_z01";
  src: url(/fonts/l1_par-bol-5_std_ws_z01-2d811af6.woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
    --color-white: #fdfeff;
    --color-background: #fefce9;
    --color-dark-gray: #7e8285;
    --color-dark-blue: #0b489f;
    --color-red: #e81d2b;

    --color-font: #303030;

    --font-size-title-large: 32px;
    --font-size-subtitle-large: 20px;
    --font-size-title-small: 23px;
    --font-size-subtitle-small: 13px;

    --font-size-challenge: 27px;
    --font-size-final: 23px;
    --font-size-normal: 19px;
    --font-size-smaller: 17px;
    --font-size-small: 15px;

    --game-width: 750px;
    --game-width-small: 600px;

    --search-box-width: 400px;
}

body {
    font-family: "l1_par-5_std_ws_z01", sans-serif;
    background-color: var(--color-background);
    margin: 0px;
}

.page {
    position: relative;
    min-height: 100dvh;
    max-height: 100dvh;
    overflow: hidden;
}

.content-wrap {
    flex-direction: row;
}

.title-bar {
    background-color: var(--color-white);
    color: var(--color-font);
    line-height: 1.6;
    margin: 0px;
}

.title-bar .title-wrap {
    display: flex;
    padding-left: 15px;
}

.title-text {
    display: inline-block;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    max-width: min-content;
}

.title-text h1 {
    margin-bottom: 0px;
    line-height: 1.0;
    max-width: fit-content;
}

.title-text small {
    color: var(--color-dark-gray)
}

.language-select-container {
    display: inline-block;
    white-space: nowrap;
    margin-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
    padding-top: 10px;
    max-height: 24px;
    max-width: fit-content;
    align-self: center;
    font-size: 0px;
}

.language-select-container .language-option-box {
    display: inline-block;
    padding: 0px;
    max-width: 28px;
    cursor: pointer;
    font-size: var(--font-size-small);
    font-weight: normal;
}

.language-option-box input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.language-option-box .language-radio-button {
    display: inline-block;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 19px;
    color: var(--color-dark-blue);
    background-color: var(--color-white);
    border: 2px solid var(--color-dark-blue);
}

.language-option-box:nth-child(1) .language-radio-button {
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;
}

.language-option-box:nth-child(2) .language-radio-button {
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
}

.language-option-box:hover input ~ .language-radio-button {
    background-color: lightgray;
}

.language-option-box input:checked ~ .language-radio-button {
    background-color: var(--color-dark-blue);
    color: var(--color-white);
}

.menu-title-container {
    white-space: nowrap;
    margin-top: 10px;
    margin-left: 15px;
    padding-top: 10px;
    max-height: 24px;
    align-self: center;
    font-size: 0px;
}

.info-progress-container {
    display: flex;
    margin-top: 5px;
    margin-left: 15px;
}

.menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 24px;
    width: 24px;
    padding: 0;
    background-color: var(--color-white);
    border: 2px solid var(--color-dark-blue);
    border-radius: 50%;
    cursor: pointer;
}

.menu-button:hover {
    background-color: lightgray;
}

.menu-button img {
    width: 14px;
    height: 14px;
    pointer-events: none;
}

.overlay {
    position: absolute;
    display: flex;
    inset: 0;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    padding: 20px;
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s;
    pointer-events: none;
}

.overlay.active {
    opacity: 1;
    pointer-events: all;
    backdrop-filter: blur(2px);
}

.progress-window {
    display: inline;
    background-color: var(--color-white);
    color: var(--color-font);
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    padding-right: 20px;
    transition: top 0.3s;
}

.progress-window.active {
    pointer-events: all;
    opacity: 1;
    top: 0%;
}

.progress-window .progress-title-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
    padding-bottom: 15px;
    font-weight: bold;
    max-height: 35px;
}

.progress-list {
    text-align: center;
    font-size: var(--font-size-smaller);
    font-weight: bold;
    overflow-y: scroll;
}

.progress-list p {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
    margin-bottom: 5px;
}

.progress-icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url(/svg/lignes.svg);
    background-size: auto 100%;
    border-radius: 50%;
    border-width: 0px;
    margin-left: 10px;
    margin-right: 10px;
}

.info-box {
    position: relative;
    background: var(--color-white);
    padding: 25px;
    margin: auto;
    max-width: 500px;
    width: 90dvh;
    border-radius: 15px;
    opacity: 0;
    transition: opacity 0.3s;
    font-weight: normal;
    color: var(--color-font);
    box-shadow: 3px 3px 5px 5px dimgray;
}

.overlay.active .info-box {
    opacity: 1;
}

.info-box h1 {
    text-align: center;
    margin-top: 0px;
    font-size: var(--font-size-final);
}

.info-box span, a {
    text-align: right;
    font-size: var(--font-size-smaller);
}

.close {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 10px;
    right: 15px;
    border: none;
    background: none;
    width: 32px;
    height: 32px;
    cursor: pointer;
    border-radius: 50%;
}

.close svg {
    width: 22px;
    height: 22px;
    pointer-events: none;
}

.close svg path { 
    fill: var(--color-font); 
}

.close:hover {
    background-color: var(--color-red);
}

.close:hover svg path {
    fill: var(--color-white);
}

.game-content {
    margin: auto;
    max-width: var(--game-width);
    text-align: left;
    height: calc(100% - 30px);
    color: var(--color-font);
    padding: 15px;
    line-height: 1.6;
    align-self: center;
    overflow: hidden;
}

.game-content .start-dest {
    display: inline-block;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: var(--font-size-challenge);
    font-weight: bold;
}

.game-content .steps-container {
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 0px;
    padding-right: 0px;
}

.steps-container .step {
    position: absolute;
    opacity: 1;
    scale: 1;
    width: calc(var(--game-width) - 30px);
    max-width: calc(var(--game-width) - 30px);
    transform-origin: top left;
    transition: opacity 0.8s, transform 0.8s;

}

.i18n {
    display: inline-block;
    font-weight: bold;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.i18n h2 {
    font-size: var(--font-size-final);
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.i18n p {
    font-size: var(--font-size-normal);
}

.i18n a {
    font-size: var(--font-size-normal);
}

.i18n span {
    display: inline-block;
    font-size: var(--font-size-normal);
    padding-right: 10px;
}

.i18n span:nth-child(even) {
    float: right;
    color: var(--color-dark-gray);
    margin-bottom: 5px;
}

.search-box {
    font-size: var(--font-size-normal);
    font-weight: bold;
    width: var(--search-box-width);
    padding: 6px 10px;
}

.search-box::placeholder {
    font-weight: normal;
    opacity: 0.7;
}

.metro-button {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url(/svg/lignes.svg);
    background-size: auto 100%;
    border-radius: 50%;
    border-width: 0px;
    border-color: #221f21;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
    cursor: pointer;
}

.metro-button:hover:enabled {
    transform: scale(1.2);
    box-shadow: 2px 2px 3px 2px darkgray;
}

.metro-button:disabled {
    transform: scale(1.0);
    cursor: default;
}

.steps-container .direction-button-wrap {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: space-evenly;
    width: 100%;
}

.direction-button {
    padding: 10px 20px;
    background-color: var(--color-white);
    border-width: 0px;
    border-color: #221f21;
    border-radius: 5%;
    color: #0b489f;
    text-align: center;
    font-size: var(--font-size-normal);
    font-weight: bold;
    cursor: pointer;
    box-shadow: 3px 3px 3px 1px gray;
}

.direction-button:hover:enabled {
    transform: scale(1.2);
    box-shadow: 3px 3px 6px 2px gray;
}

.direction-button:focus:enabled {
    transform: scale(1.15);
    box-shadow: 3px 3px 5px 2px gray, 1px 1px gray inset;
}

.direction-button:disabled {
    cursor: default;
}

@media only screen and (min-width: 320px) {
    .content-wrap { display: inline; }

    .title-bar { 
        width: 100%; 
        box-shadow: 0px -5px 9px 0px gray;
    }

    .title-wrap {
        justify-content: space-between;
        padding-right: 15px;
    }

    .language-select-container { 
        margin-bottom: 10px;
        padding-bottom: 10px;
        align-self: center; 
    }

    .info-progress-container { display: none; }

    .menu-title-container {
        display: inline-block;
        margin-bottom: 10px;
        padding-bottom: 10px;
    }

    .progress-window { 
        position: absolute;
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 0px;
        margin-bottom: 20px;
        width: calc(100% - 40px - 40px);
        height: auto;
        max-height: calc(100% - 40px - 20px);
        max-width: 580px;
        top: -100%;
        opacity: 0; 
        pointer-events: none;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        z-index: 1000;
        box-shadow: 0px 0px 20px 0px gray;
    }

    .progress-window .close { display: block; }

    .progress-window .progress-title-wrap {
        font-size: var(--font-size-challenge);
        text-align: left;
    }

    .progress-list { max-height: calc(100vh - 80px - 15px - 40px - 20px); }

    .title-text h1 { 
        font-size: var(--font-size-title-small); 
        margin-top: 0px;
        white-space: nowrap;
    }

    .title-text small { font-size: var(--font-size-subtitle-small); }

    .game-content { 
        display: block;
        max-width: 100%;
    }

    .game-content .step {
        width: calc(100% - 30px); 
        max-width: calc(100% - 30px); 
    }
    .search-box { max-width: 100%; }
}

@media only screen and (min-width: 400px) {
    .search-box { width: var(--search-box-width); }
}

@media only screen and (min-width: 600px) {
    .game-content { max-width: var(--game-width-small); }
    .game-content .step { 
        width: calc(var(--game-width-small) - 30px); 
        max-width: calc(var(--game-width-small) - 30px); 
    }
}

@media only screen and (min-width: 660px) {
    .progress-window {
        left: 50%;
        transform: translateX(calc((-580px - 40px - 40px) / 2));
    }
}

@media only screen and (min-width: 800px) {

    .game-content { 
        max-width: var(--game-width);
        min-width: var(--game-width);
    }

    .game-content .step { 
        width: calc(var(--game-width) - 30px); 
        max-width: calc(var(--game-width) - 30px); 
        min-width: calc(var(--game-width) - 30px); 
    }
}

@media only screen and (min-width: 1150px) {
    .content-wrap { 
        display: flex; 
        flex-direction: row;
        height: 100dvh;
    }

    .title-bar {
        display: inline-block;
        margin-right: 20px;
        /*(  ( (100% - game-width[750px]) - game-padding[2x15] ) / 2 ) - padding-left[20] - margin-right[20] */
        width: calc(((100% - var(--game-width) - 30px) / 2) - 20px - 20px);
        min-width: 210px;
        height: 100%;
        box-shadow: -4px 0px 9px 0px gray;
    }

    .title-wrap {
        justify-content: flex-start;
        padding-right: 0px;
    }

    .title-text h1 { margin-top: 10px; white-space: normal; }

    .menu-title-container { display: none; }

    .info-progress-container {
        display: inline-block;
        margin-left: 0px;
    }

    .game-content { 
        display: inline-block;
        max-width: var(--game-width); 
        min-width: calc(var(--game-width) - 30px);
    }

    .step { 
        width: calc(var(--game-width) - 30px); 
        max-width: calc(var(--game-width) - 30px); 
        min-width: calc(var(--game-width) - 30px); 
    }

    .progress-window {
        position: static;
        margin-left: 20px;
        /*(  ( (100% - game-width[750px]) - game-padding[2x15] ) / 2 ) - margin-left[20] - padding-right[20] */
        width: calc(((100% - var(--game-width) - 30px) / 2) - 20px - 20px);
        min-width: 120px;
        max-width: 100%;
        height: calc(100% - 30px);
        max-height: calc(100% - 30px);
        margin-top: 0;
        margin-bottom: 0;
        margin-right: 0;
        top: 0;
        left: 0;
        right: 0;
        opacity: 1;
        pointer-events: all;
        box-shadow: none;
        border-radius: 0;
        transform: translate(0%, 0%);
        transition: none;
        z-index: auto;
        box-shadow: 4px 0px 9px 0px gray;
    }

    .progress-window .close { display: none; }

    .progress-window .progress-title-wrap {
        text-align: right;
        font-size: var(--font-size-final);
    }

    .progress-window .progress-list { max-height: calc(100% - 80px - 15px); }
}

@media only screen and (min-width: 1370px) {
    .title-wrap { min-width: 250px; }

    .progress-window .progress-title-wrap {
        font-size: var(--font-size-challenge);
        min-width: 150px;
    }

    .title-text h1 { font-size: var(--font-size-title-large); }

    .title-text small { font-size: var(--font-size-subtitle-large); }
}

@media only screen and (min-width: 1510px) {
    .title-text h1 { white-space: nowrap; }
}