@font-face {
  font-family: "l1_par-5_std_ws_z01";
  src: url(/fonts/l1_par-reg-5_std_ws_z01-a716f8ca.woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "l1_par-5_std_ws_z01";
  src: url(/fonts/l1_par-bolit-5_std_ws_z01-97b6f51d.woff2);
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "l1_par-5_std_ws_z01";
  src: url(/fonts/l1_par-ita-5_std_ws_z01-cc3d2c5f.woff2);
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "l1_par-5_std_ws_z01";
  src: url(/fonts/l1_par-bol-5_std_ws_z01-2d811af6.woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
    --font-size-challenge: 27px;
    --font-size-final: 23px;
    --font-size-normal: 19px;

    --game-width: 750px;
}

body {
    font-family: "l1_par-5_std_ws_z01", sans-serif;
    background-color: #fefce9;
    margin: 0px;
}

.page {
    position: relative;
    min-height: 100dvh;
}

.content-wrap {
    padding-bottom: 4rem;
}

.game-content {
    margin: auto;
    max-width: var(--game-width);
    text-align: left;
    color: #303030;
    padding: 0px;
    line-height: 1.6;
}

.game-content .start-dest {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: var(--font-size-challenge);
    font-weight: bold;
}

.game-content .steps-container {
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 0px;
    padding-right: 0px;
}

.steps-container .step {
    opacity: 1;
    scale: 1;
    position: absolute;
    width: var(--game-width);
    max-width: var(--game-width);
    transform-origin: top left;
    transition: opacity 0.8s, transform 0.8s;

}

.i18n {
    display: block;
    font-weight: bold;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.i18n p {
    font-size: var(--font-size-normal);
}

.i18n span {
    font-size: var(--font-size-normal);
    padding-right: 10px;
}

.i18n h2 {
    font-size: var(--font-size-final);
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.search-box {
    font-size: var(--font-size-normal);
    font-weight: bold;
    width: 400px;
    padding: 6px 10px;
}

.search-box::placeholder {
    font-weight: normal;
    opacity: 0.7;
}

.metro-button {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url(/svg/lignes.svg);
    background-size: auto 100%;
    border-radius: 50%;
    border-width: 0px;
    border-color: #221f21;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
}

.metro-button:hover:enabled {
    transform: scale(1.2);
    box-shadow: 2px 2px 3px 2px darkgray;
}

.metro-button:disabled {
    transform: scale(1.0);
}

.steps-container .direction-button-wrap {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
}

.direction-button {
    padding: 10px 20px;
    background-color: #fdfeff;
    border-width: 0px;
    border-color: #221f21;
    border-radius: 5%;
    color: #0b489f;
    text-align: center;
    font-size: var(--font-size-normal);
    font-weight: bold;
    box-shadow: 3px 3px 3px 1px gray;
}

.direction-button:hover:enabled {
    transform: scale(1.2);
    box-shadow: 3px 3px 6px 2px gray;
}

.direction-button:focus:enabled {
    transform: scale(1.15);
    box-shadow: 3px 3px 5px 2px gray, 1px 1px gray inset;
}