@font-face {
  font-family: "l1_par-5_std_ws_z01";
  src: url(/fonts/l1_par-reg-5_std_ws_z01-a716f8ca.woff2);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "l1_par-5_std_ws_z01";
  src: url(/fonts/l1_par-bolit-5_std_ws_z01-97b6f51d.woff2);
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "l1_par-5_std_ws_z01";
  src: url(/fonts/l1_par-ita-5_std_ws_z01-cc3d2c5f.woff2);
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "l1_par-5_std_ws_z01";
  src: url(/fonts/l1_par-bol-5_std_ws_z01-2d811af6.woff2);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

:root {
    --color-white: #fdfeff;
    --color-background: #fefce9;
    --color-dark-gray: #7e8285;
    --color-dark-blue: #0b489f;

    --color-font: #303030;

    --font-size-title-large: 32px;
    --font-size-subtitle-large: 20px;
    --font-size-title-small: 23px;
    --font-size-subtitle-small: 13px;

    --font-size-challenge: 27px;
    --font-size-final: 23px;
    --font-size-normal: 19px;
    --font-size-small: 12px;

    --game-width: 750px;
    --game-width-small: 600px;

    --search-box-width: 400px;
}

body {
    font-family: "l1_par-5_std_ws_z01", sans-serif;
    background-color: var(--color-background);
    margin: 0px;
}

.page {
    position: relative;
    min-height: 100dvh;
}

.content-wrap {
    padding-bottom: 4rem;
}

.title-bar {
    background-color: var(--color-white);
    color: var(--color-font);
    line-height: 1.6;
    min-width: 250px;
    margin: 0px;
}

.title-bar .title-wrap {
    display: flex;
    padding-left: 15px;
}

.title-text {
    display: inline-block;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
}

.title-text h1 {
    font-size: var(--font-size-title-large);
    margin-top: 10px;
    margin-bottom: 0px;
    line-height: 1.0;
}

.title-text small {
    font-size: var(--font-size-subtitle-large);
    color: var(--color-dark-gray)
}

.language-select-container {
    display: inline-block;
    white-space: nowrap;
    margin-top: 10px;
    margin-left: 15px;
    padding-top: 10px;
    padding-right: 15px;
    align-self: center;
    font-size: 0px;
}

.language-select-container .language-option-box {
    display: inline-block;
    padding: 0px;
    max-width: 20px;
    cursor: pointer;
    font-size: var(--font-size-small);
    font-weight: normal;
}

.language-option-box input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.language-option-box .language-radio-button {
    display: inline-block;
    height: 20px;
    width: 20px;
    text-align: center;
    line-height: 19px;
    color: var(--color-dark-blue);
    background-color: var(--color-white);
    border: 2px solid var(--color-dark-blue);
}

.language-option-box:nth-child(1) .language-radio-button {
    border-top-left-radius: 20%;
    border-bottom-left-radius: 20%;
}

.language-option-box:nth-child(2) .language-radio-button {
    border-top-right-radius: 20%;
    border-bottom-right-radius: 20%;
}

.language-option-box:hover input ~ .language-radio-button {
    background-color: lightgray;
}

.language-option-box input:checked ~ .language-radio-button {
    background-color: var(--color-dark-blue);
    color: var(--color-white);
}

.progress-window {
    background-color: var(--color-white);
    color: var(--color-font);
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    height: calc(100% - 30px);
}

.progress-window .progress-title-wrap {
    padding-top: 30px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-right: 15px;
    text-align: right;
    font-size: var(--font-size-challenge);
    font-weight: bold;
}

.game-content {
    margin: auto;
    max-width: var(--game-width);
    text-align: left;
    color: var(--color-font);
    padding: 15px;
    line-height: 1.6;
}

.game-content .start-dest {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: var(--font-size-challenge);
    font-weight: bold;
}

.game-content .steps-container {
    padding-top: 10px;
    padding-bottom: 30px;
    padding-left: 0px;
    padding-right: 0px;
}

.steps-container .step {
    opacity: 1;
    scale: 1;
    position: absolute;
    width: calc(var(--game-width) - 30px);
    max-width: calc(var(--game-width) - 30px);
    transform-origin: top left;
    transition: opacity 0.8s, transform 0.8s;

}

.i18n {
    display: inline-block;
    font-weight: bold;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.i18n h2 {
    font-size: var(--font-size-final);
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.i18n p {
    font-size: var(--font-size-normal);
}

.i18n a {
    font-size: var(--font-size-normal);
}

.i18n span {
    display: inline-block;
    font-size: var(--font-size-normal);
    padding-right: 10px;
}

.i18n span:nth-child(even) {
    float: right;
    color: var(--color-dark-gray);
    margin-bottom: 5px;
}

.search-box {
    font-size: var(--font-size-normal);
    font-weight: bold;
    width: var(--search-box-width);
    padding: 6px 10px;
}

.search-box::placeholder {
    font-weight: normal;
    opacity: 0.7;
}

.metro-button {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url(/svg/lignes.svg);
    background-size: auto 100%;
    border-radius: 50%;
    border-width: 0px;
    border-color: #221f21;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
}

.metro-button:hover:enabled {
    transform: scale(1.2);
    box-shadow: 2px 2px 3px 2px darkgray;
}

.metro-button:disabled {
    transform: scale(1.0);
}

.steps-container .direction-button-wrap {
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
    justify-content: space-evenly;
    width: 100%;
}

.direction-button {
    padding: 10px 20px;
    background-color: var(--color-white);
    border-width: 0px;
    border-color: #221f21;
    border-radius: 5%;
    color: #0b489f;
    text-align: center;
    font-size: var(--font-size-normal);
    font-weight: bold;
    box-shadow: 3px 3px 3px 1px gray;
}

.direction-button:hover:enabled {
    transform: scale(1.2);
    box-shadow: 3px 3px 6px 2px gray;
}

.direction-button:focus:enabled {
    transform: scale(1.15);
    box-shadow: 3px 3px 5px 2px gray, 1px 1px gray inset;
}

@media only screen and (min-width: 320px) {
    .title-bar {
        width: 100%;
    }

    .language-select-container { 
        margin-bottom: 10px;
        padding-bottom: 10px;
        align-self: center; 
    }

    .progress-window { 
        display: none; 
        margin: auto;
        width: 100%;
    }

    .progress-window .progress-title-wrap {
        text-align: left;
    }

    .title-text h1 { 
        font-size: var(--font-size-title-small); 
        margin-top: 0px;
    }

    .title-text small { font-size: var(--font-size-subtitle-small); }

    .game-content { max-width: 100%; }
    .game-content .step {
        width: calc(100% - 30px); 
        max-width: calc(100% - 30px); 
    }
    .search-box { max-width: 100%; }
}

@media only screen and (min-width: 400px) {
    .search-box { width: var(--search-box-width); }
}

@media only screen and (min-width: 600px) {
    .progress-window { width: var(--game-width-small); }

    .game-content { max-width: var(--game-width-small); }
    .game-content .step { 
        width: calc(var(--game-width-small) - 30px); 
        max-width: calc(var(--game-width-small) - 30px); 
    }
}

@media only screen and (min-width: 800px) {
    .progress-window { width: var(--game-width); }

    .game-content { 
        max-width: var(--game-width); 
        min-width: var(--game-width);
    }

    .game-content .step { 
        width: calc(var(--game-width) - 30px); 
        max-width: calc(var(--game-width) - 30px); 
        min-width: calc(var(--game-width) - 30px); 
    }
}

@media only screen and (min-width: 1250px) {
    .title-bar {
        position: absolute;
        margin-right: 20px;
        /*(  ( (100% - game-width[750px]) - game-padding[2x15] ) / 2 ) - padding-left[20] - margin-right[20] */
        width: calc(((100% - var(--game-width) - 30px) / 2) - 20px - 20px);
        height: 100%;
    }

    .progress-window {
        display: inline;
        position: absolute;
        padding-right: 20px;
        margin-left: 20px;
        /*(  ( (100% - game-width[750px]) - game-padding[2x15] ) / 2 ) - margin-left[20] - padding-right[20] */
        width: calc(((100% - var(--game-width) - 30px) / 2) - 20px - 20px);
        top: 0;
        right: 0;
    }

    .progress-window .progress-title-wrap {
        text-align: right;
    }

    .title-text h1 { 
        font-size: var(--font-size-title-large); 
        margin-top: 10px;
    }

    .title-text small { font-size: var(--font-size-subtitle-large); }

}