<!-- Source: https://github.com/kueller/the-knowledge-metro -->
<!DOCTYPE html>
<html xmlns:th="https;//thymeleaf.org" th:attr="lang=${lang}">
    <head>
        <title>The Knowledge (métro parisien)</title>

        <meta charset="utf-8">
        <meta property="og:title" content="The Knowledge (métro parisien)"/>
        <meta property="og:url" content="https://knowledge.glitch.paris"/>
        <meta name="viewport" content="width=device-width initial-scale=1"/>

        <link rel="stylesheet" type="text/css" th:href="@{ (${useMins} ? '/style/kn.min.css' : '/style/knowledge.css') }"/>

        <script type="module" th:src="@{ (${useMins} ? '/js/dist/kn.min.js' : '/js/knowledge.js') }"></script>
    </head>

    <body>
        <div class="page">
            <div class="content-wrap">
                <div class="title-bar">
                    <div class="title-wrap">
                        <span class="title-text">
                            <h1 class="title"></h1>
                            <small class="subtitle"></small>
                        </span>
                        <span class="language-select-container">
                            <label class="language-option-box">
                                <input id="lang-fr" type="radio" name="language" value="fr" th:checked="${lang} == fr">
                                <span class="language-radio-button">fr</span>
                            </label> 
                            <label class="language-option-box">
                                <input id="lang-en" type="radio" name="language" value="en" th:checked="${lang} == en">
                                <span class="language-radio-button">en</span>
                            </label>
                        </span>
                        <span class="menu-title-container">
                            <button id="progress-display" class="menu-button" type="button">
                                <img th:src="@{/svg/arrow.svg}">
                            </button>
                        </span>
                        <span class="menu-title-container">
                            <button id="info-title" class="menu-button" type="button">
                                <img th:src="@{/svg/info.svg}">
                            </button>
                        </span>
                    </div>
                </div>

                <div id="game-content" class="game-content">
                    <div id="start-dest" class="start-dest">
                        <span th:id="'origin-' + ${origin.id}" th:text="${origin.name}"></span>
                        →
                        <span th:id="'dest-' + ${destination.id}" th:text="${destination.name}"></span>
                    </div>

                    <div id="steps-container" class="steps-container">
                        <div id="line-select" class="step">
                            <div class="i18n">
                                <span class="take-line"></span>
                            </div>
                            <button class="metro-button" type="button" style="background-position: 0 0;" id="1"></button>
                            <button class="metro-button" type="button" style="background-position: -40px 0;" id="2"></button>
                            <button class="metro-button" type="button" style="background-position: -80px 0;" id="3"></button>
                            <button class="metro-button" type="button" style="background-position: -120px 0;" id="21"></button>
                            <button class="metro-button" type="button" style="background-position: -160px 0;" id="4"></button>
                            <button class="metro-button" type="button" style="background-position: -200px 0;" id="5"></button>
                            <button class="metro-button" type="button" style="background-position: -240px 0;" id="6"></button>
                            <button class="metro-button" type="button" style="background-position: -280px 0;" id="7"></button>
                            <button class="metro-button" type="button" style="background-position: -320px 0;" id="22"></button>
                            <button class="metro-button" type="button" style="background-position: -360px 0;" id="8"></button>
                            <button class="metro-button" type="button" style="background-position: -400px 0;" id="9"></button>
                            <button class="metro-button" type="button" style="background-position: -440px 0;" id="10"></button>
                            <button class="metro-button" type="button" style="background-position: -480px 0;" id="11"></button>
                            <button class="metro-button" type="button" style="background-position: -520px 0;" id="12"></button>
                            <button class="metro-button" type="button" style="background-position: -560px 0;" id="13"></button>
                            <button class="metro-button" type="button" style="background-position: -600px 0;" id="14"></button>
                        </div>
                    </div>
                </div>
                
                <div id="progress-overlay" class="overlay" style="opacity: 0;"></div>
                <div id="progress-window" class="progress-window">
                    <button id="progress-close" class="close">
                        <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 12.7 12.7"><path fill="#373737" d="m1.836 11.352 4.159-5.57v.928l-3.96-5.363h1.45l1.572 2.17q.407.568.805 1.137L6.667 5.8h-.615q.416-.578.814-1.146t.815-1.137l1.582-2.17h1.43L6.734 6.71v-.938l4.132 5.58h-1.44l-1.81-2.473q-.398-.559-.786-1.099-.389-.54-.777-1.099h.616q-.398.56-.787 1.1-.388.54-.796 1.098l-1.819 2.473z" aria-label="x"/></svg>
                    </button>
                    <div class="progress-title-wrap">
                        <span class="info-progress-container">
                            <button id="info-progress" class="menu-button" type="button">
                                <img th:src="@{/svg/info.svg}">
                            </button>
                        </span>
                        <span class="progress-title"></span>
                    </div>
                    <div id="progress-list" class="progress-list">
                        <hr>
                    </div>
                </div>
                <div id="info-overlay" class="overlay" style="opacity: 0;">
                    <div class="info-box">
                        <h1>“The Knowledge”</h1>
                        <p>
                            <span class="info1"></span>
                            <a class="info2" href="https://youtu.be/u7gp8KBP7ak?si=HPohxel2zo2hhiN5" target="_blank"></a>
                            <span class="info3"></span>
                        </p>
                        <button id="info-close" class="close">
                            <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" viewBox="0 0 12.7 12.7"><path fill="#373737" d="m1.836 11.352 4.159-5.57v.928l-3.96-5.363h1.45l1.572 2.17q.407.568.805 1.137L6.667 5.8h-.615q.416-.578.814-1.146t.815-1.137l1.582-2.17h1.43L6.734 6.71v-.938l4.132 5.58h-1.44l-1.81-2.473q-.398-.559-.786-1.099-.389-.54-.777-1.099h.616q-.398.56-.787 1.1-.388.54-.796 1.098l-1.819 2.473z" aria-label="x"/></svg>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>